<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS Configuration for India Tech Atlas -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        
        <rule name="Remove .html extension" stopProcessing="true">
          <match url="^(.*)\.html$" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
        
        <rule name="Add .html extension" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
    
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/500.html" responseMode="ExecuteURL" />
    </httpErrors>
    
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
    
    <caching>
      <profiles>
        <add extension=".css" policy="CacheUntilChange" />
        <add extension=".js" policy="CacheUntilChange" />
        <add extension=".png" policy="CacheForTimePeriod" duration="365.00:00:00" />
        <add extension=".jpg" policy="CacheForTimePeriod" duration="365.00:00:00" />
        <add extension=".svg" policy="CacheForTimePeriod" duration="365.00:00:00" />
      </profiles>
    </caching>
  </system.webServer>
</configuration>

